@import '../abstracts/mixins';

.footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100vw;
    margin-top: 2rem;
    background-color: var(--light-pink);
    @include shadow();
}

@include respond(tablet) {
    .footer {
        position: fixed;
    }
}
