@import '../abstracts/mixins';

.info-card {
    background: var(--light-brown);
    border-radius: 12px;
    text-align: center;
    padding: 2rem 1.8rem;
    margin: 1.2rem;
    line-height: 2.4rem;
    letter-spacing: 0.1rem;
    @include shadow();
}
