@import '../abstracts/mixins';

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: var(--light-brown);
    color: var(--big-brown);
    width: 40px;
    height: 40px;
    bottom: 5rem;
    box-shadow: 2px 1px 10px 2px grey;
    font-size: 2.5rem;
    transition: 0.2s all;

    &__icon {
        height: 20px;
        width: 20px;
    }
}

@include respond(tablet) {
    .nav-button {
        position: static;
    }
}
