:root {
    // Colors
    --smooth-green: #94af94;

    --big-brown: #743f34;
    --light-brown: #f0d590;
    --smooth-brown: #fdf1d4;

    --passion-red: #cf1010;

    --good-black: #444444;

    --good-white: #fafafa;

    --smooth-green: #94af94;

    --light-pink: #f6eeee;
}