.contact {
    &__icon {
        width: 3.5rem;
        height: 3.5rem;
        margin: 1rem;
        cursor: pointer;
    }
}

.contact-info {
    margin: 1.5rem 0;
    &__row {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    &__column {
        display: flex;

        flex-direction: column;
        justify-content: center;
    }
}
