@import '../abstracts/mixins';

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    &__img {
        width: 100%;
        height: 300px;
        background-image: url('../../assets/img/castle.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include shadow();
    }

    &__card-container {
        margin-top: -80px;
    }
}
