@import '../abstracts/mixins';

.landing {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.landing__title-box {
    width: 70%;
}

.landing__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;

    & :first-child {
        align-self: flex-start;
    }

    & :last-child {
        align-self: flex-end;
    }
}

.landing__subtitle {
    text-align: right;
    margin-top: -2rem;
}

.landing__img {
    width: 70%;
    filter: drop-shadow(1.5px 1.5px 5px #222);
}

@include respond(tablet) {
    .landing__title-box {
        width: 55%;
    }

    .landing__img {
        width: 60%;
    }
}

@include respond(desktop) {
    .landing {
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
    }

    .landing__title-box {
        width: 40%;
    }

    .landing__img {
        width: 45%;
        filter: drop-shadow(1.5px 1.5px 5px #222);
    }
}
