@import '../abstracts/mixins';

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    &__img {
        width: 85%;

        @include respond(tablet) {
            width: 50%;
        }
    }
}
