html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    z-index: 1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--good-white);

    @include respond(tablet) {
        height: 100vh;
    }
}

button {
    border: none;
    cursor: pointer;
}

button,
label,
input {
    -webkit-tap-highlight-color: transparent;
}
