@font-face {
    font-family: 'Boogaloo';
    src: local('Boogaloo'),
        url('../../assets/fonts/Boogaloo/Boogaloo-Regular.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Dancing Script';
    src: local('Dancing Script'),
        url('../../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    src: local('Roboto Slab'),
        url('../../assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf')
            format('truetype');
}

html {
    font-size: 10px;
}

body {
    font-family: 'Boogaloo', cursive, Arial, Helvetica, sans-serif;
    color: var(--big-brown);
    font-size: 2.4rem;

    @include respond(tablet) {
        font-size: 2rem;
    }
}

.title {
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.text {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.6rem;
}
