@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Dancing+Script:wght@400;500&family=Roboto+Slab:wght@300;400;500&display=swap');
html {
    font-size: 10px;
}

body {
    font-family: 'Boogaloo', cursive, Arial, Helvetica, sans-serif;
    color: var(--big-brown);
    font-size: 2.4rem;

    @include respond(tablet) {
        font-size: 2rem;
    }
}

.title {
    font-family: 'Dancing Script', cursive, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.text {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 1.6rem;
}
